body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: none;
  color: #0f172a;
}

.page {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}
h1, h2, h3 {
  color: #1d4ed8;
}
ul {
  list-style-type: square;
  padding-left: 20px;
}

html {
  scroll-behavior: smooth;
}
